<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fairphone.fairphonepeaceofmindapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/peace_app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.fairphone.peaceofmind.PeaceOfMindActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
<!-- 
        <service
            android:name="org.fairphone.peaceofmind.service.TimerService"
            android:permission="android.permission.BIND_REMOTEVIEWS" /> -->
        <receiver
            android:name="org.fairphone.peaceofmind.PeaceOfMindBroadCastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.fairphone.peaceofmind.PeaceOfMindApplicationBroadcastReceiver">
        </receiver>
        
        <!--  android:process=":remote" -->
        <!-- Widget -->
        <receiver
            android:name="org.fairphone.peaceofmind.widget.WidgetProvider"
            android:exported="false"
            android:icon="@drawable/peace_widget_icon"
            android:label="@string/peace_of_mind_widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>
    </application>

</manifest>